<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GooglePageOpenSuite">
  <test thread-count="5" name="GoogleTitleAndLogoTest">
    <classes>
      <class name="com.Google.GoogleTitleAndLogoTest" />
    </classes>
  </test> <!-- GoogleTitleAndLogoTest -->
</suite> <!-- GooglePageOpenSuite -->
